$headerBgColor: #191919;
$titleColor: white;
$titleDesc: grey;
$tableHeaderBgColor: grey;
$animate-this: one two three four;
$cols: rgb(255, 140, 0) rgb(82, 144, 233) rgb(165, 42, 42) rgb(60, 179, 113);

$column-tag: (
	id-one: (nth($cols,1), "\f007"),
	id-two: (nth($cols, 2), "\f073"),
	ctitle: (nth($cols, 3), "\f030"),
	cbody:  (nth($cols, 4), "\f086")
);

$break-small: 450px;
$break-large: 1199px;