/*body{background-color:black}*/
@import "variables";
@import "mixins";
@import "overide";


header {

	background-color: $headerBgColor;
	text-align: center;
	padding: 80px 50px;
	h1{
		letter-spacing: 0.4em; 
		color: $titleColor;
		text-transform: uppercase;
		font-weight: 300
	}

	p {
		color: $titleDesc;
		font-weight: 500;
		margin-top: 20px;
		font-size: 120%;
		letter-spacing: 0.1em
	}


}

table thead {

	td {
		padding: 20px; 
		text-align: center; 
		color: $titleColor; 
		letter-spacing: 0.2em;
		word-wrap: break-word;
	}
}

table tbody td{
	padding:10px;
	font-size: 15px;
	font-weight: 700;
	padding: 10px !important; 
	zoom: 1;
	transform: scale(1);
    transition: zoom 1.5s ease; 
    z-index: -1;
	position:relative;

	@include respond-to(wide-screens){
	 	&:hover {
		transition: all .4s ease-in-out;
      	zoom: 1.1;
      	transform: scale(1.1);
      	z-index: 20;
      	position: relative
   		}
   	}
}

/*.user-ctitle{
	zoom: 1;
	transform: scale(1);
    transition: zoom 1.5s ease; 
    z-index: -1;
	position:relative;

&:hover{
	transition: all .4s ease-in-out;
      	zoom: 1.1;
      	transform: scale(1.1);
      	z-index: 20;
      	position: relative

}
}*/




.icons {
	position: absolute; 
	top: 5px; 
	left: 0;

	ul li{
		float: left; 
		display:inline;
	}
}

.column-arrows{
	color: white; 
	width:50px;
	font-family: FontAwesome;

	.up-arrow:before {
	content:"\f0d8";
	width: 20px;
	}

	.down-arrow:before{
		content: "\f0dd";
		width: 20px;
	}
}

/* Animation-delay for each section on load. Helps a little bit with slow json load */

@for $i from 1 through length($animate-this) {

	$item: nth($animate-this, $i);

	.animation-#{$item} {
	-webkit-animation-delay: #{$i * 0.5s};
	-moz-animation-delay: #{$i * 0.5s};
	animation-delay: #{$i * 0.5s};
	transition-timing-function: cubic-bezier(0.42,0,0.58,1);
	}

 }

 /* Colors for each column and icons for each column header*/

@each $name, $property in $column-tag {
    $columnColor: nth($property, 1);
    $icon: nth($property, 2);
 
 	/* Table Column color and layout */
    .user-#{$name}{
      	font-family: FontAwesome;
      	padding: 5px; 
		margin:10px 33px 35px 33px;
		display: inline-block;

		thead & {
			cursor: pointer;
			background-color: $columnColor;
		}

      	tbody & {
      		background-color: lighten($columnColor, 30% ) !important

      	}

      	.label:before{
      		content: $icon; 
      		padding: 2px
      	}
      	
    }
	
	/* Icon content and color in the top left header */
	.icons ul .#{$name}:before{
		font-family: FontAwesome;
		content: $icon;
		display: inline-block;
		color: grey;
		width: 30px;
		margin: 10px; 
		font-size: 17px;	
		cursor: pointer;
		color: rgba($columnColor, 0.8); 

	}
}


