	<div class="icons">
		<ul>
			<li class="id-one"></li>
			<li class="id-two"></li>
			<li class="ctitle"></li>
			<li class="cbody"></li>
		</ul>
		<div class="drop-down" style="width: 100%; height:100vh; background-color: white; z-index: 15; display:none">
			
		</div>
	</div>

<header>

	
	
	<h1 class="animated fadeInDown animation-one"> Angular Data Table </h1>
	<p  class="animated fadeInDown animation-two" > Below is a table data table that can be sorted in ascending and descending order for each category </p>			
</header>
