@charset "UTF-8";
/*body{background-color:black}*/
.container, .row {
  width: 100%;
  margin: 0;
  padding: 0; }

.column-content {
  padding: 0;
  margin: 0;
  width: 100%; }

.label {
  font-size: 15px !important; }

header {
  background-color: #191919;
  text-align: center;
  padding: 100px 50px; }
  header h1 {
    letter-spacing: 0.4em;
    color: white;
    text-transform: uppercase;
    font-weight: 300; }
  header p {
    color: grey;
    font-weight: 500;
    margin-top: 20px;
    font-size: 120%;
    letter-spacing: 0.1em; }

table thead td {
  padding: 20px;
  text-align: center;
  color: white;
  letter-spacing: 0.2em;
  word-wrap: break-word; }

table tbody td {
  padding: 10px;
  font-size: 15px;
  font-weight: 700;
  padding: 10px !important; }
  @media only screen and (min-width: 1199px) {
    table tbody td:hover {
      transition: all .2s ease-in-out;
      transform: scale(1.3); } }

.icons {
  position: absolute;
  top: 5px;
  left: 0; }
  .icons ul li {
    float: left;
    display: inline; }

.column-arrows {
  color: white;
  width: 50px;
  font-family: FontAwesome; }
  .column-arrows .up-arrow:before {
    content: "\f0d8";
    width: 20px; }
  .column-arrows .down-arrow:before {
    content: "\f0dd";
    width: 20px; }

/* Animation-delay for each section on load. Helps a little bit with slow json load */
.animation-one {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.animation-two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.animation-three {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.animation-four {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.animation-five {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

.animation-six {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); }

/* Colors for each column and icons for each column header*/
/* Table Column color and layout */
.user-id-one {
  font-family: FontAwesome;
  padding: 5px;
  margin: 10px 33px 35px 33px;
  display: inline-block; }
  thead .user-id-one {
    cursor: pointer;
    background-color: darkorange; }
  tbody .user-id-one {
    background-color: #ffd199 !important; }
  .user-id-one .label:before {
    content: "";
    padding: 2px; }

/* Icon content and color in the top left header */
.icons ul .id-one:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  color: grey;
  width: 30px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
  color: rgba(255, 140, 0, 0.8); }

/* Table Column color and layout */
.user-id-two {
  font-family: FontAwesome;
  padding: 5px;
  margin: 10px 33px 35px 33px;
  display: inline-block; }
  thead .user-id-two {
    cursor: pointer;
    background-color: #5290e9; }
  tbody .user-id-two {
    background-color: #dae7fa !important; }
  .user-id-two .label:before {
    content: "";
    padding: 2px; }

/* Icon content and color in the top left header */
.icons ul .id-two:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  color: grey;
  width: 30px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
  color: rgba(82, 144, 233, 0.8); }

/* Table Column color and layout */
.user-ctitle {
  font-family: FontAwesome;
  padding: 5px;
  margin: 10px 33px 35px 33px;
  display: inline-block; }
  thead .user-ctitle {
    cursor: pointer;
    background-color: brown; }
  tbody .user-ctitle {
    background-color: #e18787 !important; }
  .user-ctitle .label:before {
    content: "";
    padding: 2px; }

/* Icon content and color in the top left header */
.icons ul .ctitle:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  color: grey;
  width: 30px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
  color: rgba(165, 42, 42, 0.8); }

/* Table Column color and layout */
.user-cbody {
  font-family: FontAwesome;
  padding: 5px;
  margin: 10px 33px 35px 33px;
  display: inline-block; }
  thead .user-cbody {
    cursor: pointer;
    background-color: mediumseagreen; }
  tbody .user-cbody {
    background-color: #a7e1c1 !important; }
  .user-cbody .label:before {
    content: "";
    padding: 2px; }

/* Icon content and color in the top left header */
.icons ul .cbody:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  color: grey;
  width: 30px;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
  color: rgba(60, 179, 113, 0.8); }

/*# sourceMappingURL=maps/styles.css.map */
